################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompressAzureBlobStorageV2/bin/Debug
/obj
/.vs/ZipFunction/v17
/bin/Debug/netcoreapp3.1
