<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://compressazureblobstoragev2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a31e8c3a-d401-4eac-95f8-30411c23870f/resourcegroups/DEV/providers/Microsoft.Web/sites/CompressAzureBlobStorageV2</ResourceId>
    <UserName>$CompressAzureBlobStorageV2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://compressazureblobstoragev2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>